<!DOCTYPE html>
<html lang="en">

<link>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>打印电子面单</title>
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<style>
    @page {
        margin: 0 0 0px 19px;
    }

    #printTemplate {
        font-size: 12px;
        padding-bottom: 3px;
        padding-top: 3px;
    }

    p {
        margin-bottom: 0px;
    }

    h3, h4, h5 {
        margin: 0;
    }

    .print-line {
        border-top: 1px solid #000;
        margin: 5px auto;
    }

    .print-big-line {
        border-top: 5px dashed #000;
        margin: 15px auto;
    }

    .address-detail {
        transform: scale(0.7, 0.7);
        width: 290px;
        margin-left: -43px;
    }
</style>
</head>
<body>
<div class="pull-left" style="width: 500px; padding: 20px;">
    <form>
        <p class="address1"></p>
        <p class="address2"></p>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <select class="form-control" id="shipperCode">
                        <option value="SF">顺丰</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <select class="form-control" id="payType">
                        <option value="2">到付</option>
                        <option value="3">月结</option>
                        <option value="1">现付</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <select class="form-control" id="quantity">
                        <option value="1">1件</option>
                        <option value="2">2件</option>
                        <option value="3">3件</option>
                        <option value="4">4件</option>
                        <option value="5">5件</option>
                        <option value="6">6件</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <select class="form-control" id="baojia">
                        <option value="0">不保价</option>
                        <option value="2">2元保2000</option>
                        <option value="5">5元保5000</option>
                        <option value="10">10元保1W</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <select class="form-control" id="hangkong" disabled>
                        <option value="1">陆运</option>
                        <option value="2">航空</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <select class="form-control" id="type">
                        <option value="电子产品">电子产品</option>
                        <option value="其他">其他</option>
                    </select>
                </div>
            </div>
        </div>

        <button type="button" onclick="createEorder();" class="btn btn-default">生成电子面单</button>
    </form>
</div>
<!--startprint-->
<div id="printTemplate" class="pull-left" style="display: none; width: 203px; padding-left: 1px">
    <p style="text-align: center">----顺丰留存----</p>
    <h3 style="text-align: center">顺丰速运 95338</h3>
    <div class="print-line"></div>
    <div class="row">
        <div class="print-barcode col-xs-9" style="padding-right: 0; margin-left: 20px; width: 150px;"></div>
        <div class="col-xs-3 text-right" style="padding: 0; width: 90px">
            <h4 id="leixing">&nbsp;顺丰次日</h4>
            <h5 style="margin-left: 4px; margin-top: 5px;">目的地: <span id="originCode" style="font-size: 20px;"></span></h5>
        </div>
    </div>
    <div class="print-line"></div>
    <p class="shou1"></p>
    <p class="shou2 address-detail"></p>
    <div class="print-line" style="margin-top: 0;"></div>
    <p>寄方：魏先生&nbsp;&nbsp;&nbsp;18914461889</p>
    <p class="address-detail">江苏省南京市珠江路67号华丽国际大厦北门19楼1917</p>
    <div class="print-line" style="margin-top: 0;"></div>
    <div class="row">
        <div class="col-xs-4" style="padding-right: 0px;">
            <h4 class="fukuan">到付</h4>
        </div>
        <div class="col-xs-7" style="padding: 5px 0px 0px; text-align: center">
            <p id="yuejiezhanghao" style="position: absolute;right: -20px;top: -5px;width: 160px;"></p>
            <p id="feiyong2" style="margin-top: 10px;"></p>
        </div>
    </div>
    <div class="print-line"></div>
    <h5 style="margin-top: 10px;">收件员：</h5>
    <div class="print-line"></div>
    <h5 style="margin-top: 10px;">派件员：</h5>
    <div class="print-line"></div>
    <p class="today"></p>
    <div class="print-line"></div>
    <h4 style="margin-top: 10px;">收方签署：</h4>
    <p>日期：</p>
    <div class="print-line"></div>
    <div class="print-big-line"></div>
    <p style="text-align: center">----收方留存----</p>
    <h3 style="text-align: center">顺丰速运 95338</h3>
    <div class="print-line"></div>
    <div class="row">
        <div class="print-barcode col-xs-9" style="padding-right: 0; margin-left: 20px;"></div>
        <div class="col-xs-3" style="padding: 0 0 0 15px; width: 100px;">
            <h5>订单号：</h5>
            <span></span>
            <h4 class="fukuan">到付</h4>
        </div>
    </div>
    <div class="print-line"></div>
    <p class="shou1"></p>
    <p class="shou2 address-detail"></p>
    <div class="print-line" style="margin-top: 0;"></div>
    <p>寄方：魏先生&nbsp;&nbsp;&nbsp;18914461889</p>
    <p class="address-detail">江苏省南京市珠江路67号华丽国际大厦北门19楼1917</p>
    <div class="print-line" style="margin-top: 0;"></div>
    <h5 id="tuojiwu" style="margin: 5px 0;"></h5>
    <div class="print-line"></div>
    <h5 id="feiyong" style="margin: 5px 0;">保价费：2&nbsp;&nbsp;运费：12</h5>
    <div class="print-line"></div>
    <h5 id="heji" style="margin: 5px 0;">合计：14元</h5>
    <div class="print-line"></div>
    <p class="today"></p>
</div>
<!--endprint-->
<br>
<a href="javascript: doPrint()">打印</a>&nbsp;&nbsp;
<a href="javascript: cancelKdn()">取消电子面单</a>
</body>
<script src="https://cdn.bootcss.com/jquery/1.10.1/jquery.min.js"></script>
<script th:src="@{~/jquery-barcode.min.js}"></script>
<script>
    var info;
    var address;
    $(function () {
        var id = getUrlParam("id");
        if (id) {
            $.post("/address/detail", {id: id}, function (d, s) {
                if (!d.code) {
                    address = d.data;

                    $(".address1").html("收方：&nbsp;&nbsp;&nbsp;" + address.receiver + "&nbsp;&nbsp;&nbsp;" + address.telephone);
                    $(".address2").html(address.province + address.city + address.zone + address.detail);
                    // 是否可发航空
                    if (jzh.indexOf(address.province) < 0 && address.province != "安徽省") {
                        $("#hangkong").removeAttr("disabled");
                    }
                } else {
                    alert(d.message);
                }
            });
        }
    });

    var payTypeArr = {
        "1": "现付",
        "2": "到付",
        "3": "月结寄付",
    }

    function createEorder() {
        var shipperCode = $("#shipperCode").val();
        var payType = $("#payType").val();
        var quantity = $("#quantity").val();
        var type = $("#type").val();
        var baojia = $("#baojia").val();
        var hangkong = $("#hangkong").val();

        var monthCode = "0254127839";
        if (payType != '3') {
            monthCode = "";
            $("#yuejiezhanghao").text("");
        } else {
            $("#yuejiezhanghao").text("月结账号：" + monthCode);
        }

        var data = {
            id: address.id,
            shipperCode: shipperCode,
            payType: payType,
            monthCode: monthCode,
            goodsName: type,
            goodsQuantity: quantity,
        }

        $.post("/eorder/create", data, function (d, s) {
            if (!d.code) {
                info = d.data;
                // 填充打印内容
                // 条形码
                $(".print-barcode").barcode(info.logisticCode, "code128", {
                    output: 'css',
                    color: '#000',
                    // barWidth: 1,
                    barHeight: 35,
                    addQuietZone: false
                });
                // 目的地代码
                $("#originCode").text(info.originCode);
                // 收件人
                $(".shou1").html("收方：" + address.receiver + "&nbsp;&nbsp;&nbsp;" + address.telephone);
                $(".shou2").html(address.province + address.city + address.zone + address.detail);
                // 寄件日期
                $(".today").text("寄件日期：" + info.today);
                // 托寄物
                $("#tuojiwu").html("托寄物：" + type + "&nbsp;&nbsp;数量：" + quantity);
                // 付款方式
                $(".fukuan").text(payTypeArr[payType]);
                // 运费
                countAmount(baojia, hangkong);

                $("#printTemplate").show();
            } else {
                alert(d.message);
            }
        });
    }

    var jzh = ["江苏省", "浙江省", "上海市"];

    function countAmount(baojia, hangkong) {
        var baseAmount = 12;

        // 运费
        if (jzh.indexOf(address.province) < 0) {
            if (address.province == "安徽省") {
                // 江浙沪除外18
                baseAmount = 14;
            } else {
                // 江浙沪除外18
                baseAmount = 18;
                $("#leixing").html("&nbsp;顺丰隔日");
            }
        }
        if (hangkong == "2") {
            baseAmount = 23;
        }
        baseAmount = parseInt(baseAmount);

        // 保价
        var totalAmount = baseAmount;
        if (baojia != 0) {
            totalAmount = (parseInt(baseAmount) + parseInt(baojia));
            $("#feiyong").html("保价费：" + baojia + "&nbsp;&nbsp;运费：" + baseAmount);
            $("#heji").html("合计：" + totalAmount + "元");
        } else {
            $("#feiyong").html("保价费：无保价&nbsp;&nbsp;运费：" + baseAmount);
            $("#heji").html("合计：" + baseAmount + "元");
        }
        $("#feiyong2").html("运费：" + baseAmount + "&nbsp;&nbsp;合计：" + totalAmount);
    }

    function doPrint() {
        bdhtml = window.document.body.innerHTML;
        var oldHtml = bdhtml;
        sprnstr = "<!--startprint-->";
        eprnstr = "<!--endprint-->";
        prnhtml = bdhtml.substr(bdhtml.indexOf(sprnstr) + 17);
        prnhtml = prnhtml.substring(0, prnhtml.indexOf(eprnstr));
        window.document.body.innerHTML = prnhtml;
        window.print();
        window.document.body.innerHTML = oldHtml;
    }

    function cancelKdn() {
        if (info && confirm("确定要取消吗")) {
            var data = {
                "OrderCode": info.orderCode,
                "ShipperCode": "SF",
                "ExpNo": info.logisticCode,
                "CustomerName": "",
                "CustomerPwd": ""
            }
            $.post("/address/cancel", data, function (d, s) {
                alert(d.message);
            });
        }
    }

    function getUrlParam(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
    }
</script>

</html>